FFmpeg_path=<path to ffmpeg.exe>
Storage_root=<base path>
login_url=<URL to login page>
logged_in_selector=<selector that appears when logged in>
cdn_identifier=<substring in the CDN that needs further exploration>